@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 250;
}
  
body {
    background: url(./src/fundo-de-textura-com-diferentes-folhas-exoticas-generativas-al.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    width: 800px;
    height: 400px;
    background: linear-gradient(94.96deg, rgba(255, 255, 255, 0.15) -126.63%, rgba(255, 255, 255, 0.05) 108.37%);
    backdrop-filter: blur(10px);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#data{
    font-size: 26px;
}

#horario{
    font-size: 200px;
}
  
  
  
  

